h1{
    text-align: center;
}
.container{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > div{
    margin: 5px;
    width: 300px;
    border: 1px solid tomato;
}
img{
    border-bottom: 5px solid tomato;
}
.text{
    padding:2rem;
}
.button{
    margin-left:80px;
    background-color: tomato;
}
.newyork{
    font-size:22px;
    position: absolute;
    margin-left: 100px;
    top: 255px;
    color: white;
}